// COULEURS DE POLICES
$font-clr-base: #FDCB46;
$font-clr-note: #3D1319;
$font-clr-chic: #C77412;
$font-clr-delice: #0887FB;
$font-clr-palette: #72BF56;

// COULEURS DE FOND
$back-clr-base: #579C87;
$back-clr-note: #FCDFDB;
$back-clr-chic: #FFF5FE;
$back-clr-delice: #EDEFEF;
$back-clr-palette: #FDFFFD;

// GRADIENTS DE COULEUR 

$grad-color-noteicon: linear-gradient(45deg, #F04A5E, #F78F6A);
$grad-color-chic: linear-gradient(45deg, #D8852E, #905BFD);
$grad-color-delice: linear-gradient(90deg, #0D1F71, #0D88FA); 
$grad-color-palette: linear-gradient(90deg, #3D9339, #C3FD8B);