// MIXIN POUR LES GRADIENTS

@mixin text-gradient{
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

// MIXINS POUR LES MEDIA-QUERIES 

@mixin tablet-only {
    @media screen and (max-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}