// POLICES D'ECRITURES POUR LES CARDS

$font-primary: "Montserrat";

$font-note-title: "Devonshire", cursive;
$font-note-subtitle: "Sriracha", cursive;

$font-chic-title: "Croissant One", cursive;
$font-chic-subtitle: "Noto Serif", serif;

$font-delice-title: "Dancing Script", cursive;
$font-delice-subtitle: "Segoe Print", "Sriracha", cursive;

$font-palette-title: "Kaushan Script", cursive;
$font-palette-subtitle: "Segoe Print", "Sriracha", cursive;